%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{require_otp_vsn, "R1[456]|17"}.

%% fail_on_warning, 
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
%% {erl_opts, [{parse_transform, lager_transform}]}.

{erl_opts, [warn_export_all,
            warn_unused_import,
            {i, "include"},
            {src_dirs, ["src"]}]}.

{eunit_opts, [verbose]}.

{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.

{validate_app_modules, true}.

{sub_dirs, [
    "rel",
    "apps/*/"]}.

{deps, [
    {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", {branch, "master"}}}
    ,{lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}}
    ,{recon, ".*", {git, "https://github.com/ferd/recon.git", {branch,"master"}}}
    ,{jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}}
    ,{esockd, ".*", {git, "https://github.com/emqtt/esockd.git", {branch, "master"}}}
    ,{hottub, ".*", {git, "https://github.com/bfrog/hottub.git", {branch, "master"}}}
    ,{poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", {branch, "master"}}}
    ,{eper, ".*", {git, "https://github.com/massemanet/eper.git", {branch, "master"}}}
]}.

{recursive_cmds, [ct, eunit, clean]}.
