%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
[{kernel, 
	[{start_timer, true},
	 {start_pg2, true}
 ]},
 {sasl, [
	{sasl_error_logger, {file, "log/dbdn_sasl.log"}}
 ]},
 {ssl, [
    %{versions, ['tlsv1.2', 'tlsv1.1']}
 ]},
 {lager, [
    {colored, true},
    {async_threshold, 1000},
	{error_logger_redirect, false},
	{crash_log, "log/dbdn_crash.log"},
	{handlers, [
		{lager_console_backend, info},
		{lager_file_backend, [
            {formatter_config, [time, " ", pid, " [",severity,"] ", message, "\n"]},
			{file, "log/dbdn_info.log"},
			{level, info},
			{size, 104857600},
			{date, "$D0"},
			{count, 30}
		]},
		{lager_file_backend, [
            {formatter_config, [time, " ", pid, " [",severity,"] ", message, "\n"]},
			{file, "log/dbdn_error.log"},
			{level, error},
			{size, 104857600},
			{date, "$D0"},
			{count, 30}
		]}
	]}
 ]}
].

